body {
	padding-top: 60px;
}

a {
	color: white;
}

}
a:hover {
	color: white;
	text-decoration: none;
}

#screen {
	background: #fff;
	border: 1px solid #ddd;
	line-height: 29px;
	opacity: 0.8;
	text-align: center;
	margin: 0 auto;
	width: 900px;'
}

#logo {
	padding-top: 9px;
}