body {
	padding-top: 60px;
}

a #logo{
	color: white;
}

}
a:hover {
	color: white;
	text-decoration: none;
}

#screen {
	background: #fff;
	border: 1px solid #ddd;
	line-height: 29px;
	opacity: 0.8;
	text-align: center;
	margin-bottom: 10px;
}

#keypad {
	margin-bottom: 5px;
}

#logo {
	padding-top: 9px;
	padding-left: 20px;
}

.btn-atm {
	margin-bottom: 70px;
}

.col-content {
	color: red;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.col-left {
	margin-left: 40px;
}

.col-right {
	margin-right: 40px;
}