body {
	padding-top: 60px;
}

a #logo{
	color: white;
}

}
a:hover {
	color: white;
	text-decoration: none;
}

#header {
	background-color: #34495E;
	color: white;
	margin-bottom: 20px;	
}

#screen {
	background: #fff;
	border: 1px solid #ddd;
	line-height: 29px;
	text-align: center;
	margin-bottom: 10px;
}

#keypad {
	margin-bottom: 5px;
}

#keypad .btn-key{
	width: 70px;
}

#keypad .btn-number{
	width: 40px;
}
#logo {
	padding-top: 9px;
	padding-left: 20px;
}

.btn-atm {
	margin-bottom: 70px;
}

.col-content {
	color: red;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.col-left {
	margin-left: 40px;
}

.col-right {
	margin-right: 40px;
}

.btn {
	border-radius: 0px 0px 0px 0px;
}